h1{
    color:red;
    font-family: "Times New Roman", serif;
    text-align: center;
    border: 5px solid gray;
}

h2{
    color:green;
    font-family: Tahoma, serif;
    text-align: right;
    text-transform: uppercase;
    border-style: dotted;
    font-style: italic;
}
h3{
    color:blue;
    font-family: Vani, cursive;
    text-align: left;
    text-transform: lowercase;
    border-style: dotted solid double dashed;
    font-style: oblique;
}
h4{
    color:cadetblue;
    font-family: Verdana, monospace;
    padding: 300px;

}
h5{
    color:purple;
    font-family: Calibri, cursive;
}
h6{
    color:gray;
    font-family: Arial, cursive;
}